.about{
    width: 100vw;
    justify-self: end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.05) 75%, #FFFFFF 100%);

}
.about > .content{
    justify-self: end;
    padding: 25px 5vw;
    padding-right: 0;
    min-height: 105vh;
    margin: 10vh 0;
    width: 100vw;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
}
.about > .content > .aside-img{
    height: 400px;
    aspect-ratio: 1;
    margin-top: 100px;
}
.about > .content > .body{
    text-align: start;
    justify-content: start;
    width: 60vw;
    margin-left: 5vw;
    color: white;
}
.about > .content > .body > p{
    padding: 5px 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 19px;
    color: #FFFFFF;
    max-width: 850px;
    width: 95%;
}
.about-nav > .content{
    display: flex;
}
.about-nav > .content > .selector{
    display: inline-block;
    white-space: nowrap;
    width: max-content;
    padding: 0 10px;
    flex: 0 0 auto;
    opacity: 0.5;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    transition: 0.4s;
}
.about-nav > .content > .selector:hover{
    opacity: 0.75;
}
.about-nav > .content > .selector.selected{
    opacity: 1;
    cursor: default;
}
.about-nav > .content > .break-left{
    background-color: white;
    height: 20px;
    width: 25px;
}
.about-nav > .content > .break-center{
    background-color: white;
    height: 20px;
    width: 2px;
}
.about-nav > .content > .break-right{
    background-color: white;
    height: 20px;
    width: 100%;
}
.about-nav > .break-bottom{
    background-color: white;
    height: 2px;
    width: 100%;
    margin-top: 5px;
}
.about .body .skills{
    margin-left: 25px;
}
.about .body .skills > h3{
    margin: 5px auto;
    margin-top: 15px;
}
.about .body .skill-cards{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-right: 25px;
}
.about .body .skill-cards > .skill-card{
    width: 75px;
    aspect-ratio: 1;
    border:  solid rgba(255, 255, 255, 0.75) 2px;
    border-radius: 5px;
    overflow: hidden;
} 
.skill-card > img{
    display: block;
    justify-self: center;
    margin: auto;
    margin-top: 5px;
    height: 40px;
}
.skill-card > h4{
    margin: 0;
    min-height: 25px;
    width: 100%;
    font-weight: 900;
    font-size: 0.8em;
    line-height: 12px;
    align-content: center;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
}

.about .body > .education{
    margin-left: 25px;
}
.about .body > .education > h3{
    margin: 0;
    min-height: 25px;
    align-content: center;
    margin-top: 10px;
    padding-right: 25px;
}
.education > span{
    display: block;
    margin-left: 15px;
    font-weight: 300;
    font-size: 0.9em;
    min-height: 25px;
    align-content: center;
    margin-bottom: 25px;
}
.education > .certifications{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.education > .certifications > .cert-card > h4{
    width: 225px;
    text-align: center;
    margin: 0;
    min-height: 30px;
    align-content: center;
}
@media (max-width: 750px){
    .about > .content{
        display: block;
        padding: 0;
    }
    .about > .content > .body{
        width: 100%;
        justify-content: center;
    }
    .about > .content > .body > p{
        padding: 0px 15px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 1em;
        line-height: 19px;
        color: #FFFFFF;
        max-width: 850px;
        width: 95%;
    }

    .about .body .skill-cards > .skill-card{
        width: 65px;
        min-height: 60px;
        border:  solid white 2px;
        border-radius: 5px;
        overflow: hidden;
    } 
    .skill-card > img{
        height: 30px;
    }
    .skill-card > h4{
        margin: 0;
        min-height: 30px;
        width: 100%;
        font-weight: 900;
        font-size: 0.75em;
        line-height: 12px;
        align-content: center;
        text-align: center;
        color: #FFFFFF;
        overflow: hidden;
    }
    .education > .certifications{
        display: block;
    }
    .education > .certifications > .cert-card > img{
        width: 70vw;
    }
    .education > .certifications > .cert-card > h4{
        width: 70vw;
        margin-bottom: 15px;
    }
}