.contact{
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.6) 100%);
}
.contact > .container{
    min-height: 100vh;
    margin-top: 15vh;
    width: 95%;
    justify-self: end;
    max-width: 1000px;
}
@media (min-width: 900px){
    .contact > .container{
        width: 100%;
        justify-self: center;
    }
}
.contact > .container > p{
    color: white;
    padding: 50px;
    padding-top: 15px;
}
.contact > .container > p > a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.contact > .container > p > a:hover{
    font-weight: 600;
}
.contact form > div{
    width: 100%;
    display: flex;
    justify-self: start;
}
.contact form > div > label{
    width: 10%;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
    color: white;
}
.contact form > div > input,
.contact form > div > textarea{
    width: 80%;
    margin-left: 10%;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-self: center;
    background-color: #ffffff00;
    border: none;
    transition: 0.2s;
    color: var(--color1);
    outline: none;
    padding: 0;
    padding-left: 25px;
    font-weight: 400;
    color: white;
    border-radius: 0;
}
.contact form > div > textarea{
    padding-top: 7.5px;
    min-height: 100px;
    resize: vertical;
}
.contact form > div > input::placeholder,
.contact form > div > textarea::placeholder{
    color: white;
}
.contact form > div > input:focus,
.contact form > div > textarea:focus{
    background-color: rgba(255, 255, 255, 0.75);
    color: var(--color1);
    
}
.contact form > .break{
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 2px 0;
}
.contact form > .submit{
    display: flex;
    justify-content: end;
    margin-top: 50px;
    width: 100%;
}
.contact form > .submit > button{
    height: 40px;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: var(--color1);
    font-weight: 500;
    font-size: 1em;
    border-radius: 0;
    background-color: white;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    border: none;
    border-bottom: solid white 2px;
    background-color: #FFFFFF00;
    color: white;
}
.contact form > .submit > button:hover,
.contact form > .submit > button:focus{
    font-size: 1.1em;
    border: solid white 2px;
    background-color: #ffffff1a;
}


@media (max-width: 750px){
    .contact > .container > h1{
        margin-left: 2.5vw;
    }
    .contact > .container > p{
        color: white;
        padding: 25px 25px;
        padding-top: 25px;
        margin: 0 auto;
    }
    .contact form {
        width: 100%;
    }
    .contact form > div > label{
        width: 25%;
        font-size: 0.9em;
        font-weight: 900;
    } 
    .contact form > div > input,
    .contact form > div > textarea{
        font-weight: 400;
        font-size: 0.9em;
        line-height: 19px;
        padding-left: 15px;
    }
    .contact > .container{
        margin: auto;
        margin-top: 15vh;
        width: 100%;
    }
}