.home{
    margin-top: 60px;
    width: 100vw;
    justify-self: center;
    background: linear-gradient(180deg, white 25%, rgba(255, 255, 255, 0.25) 100%);
}
.home > .content{
    justify-self: center;
    padding: 25px 5vw;
    min-height: 100vh;
    width: 100vw;
    max-width: 1600px;
    margin-bottom: 20vh;
}
.home > .content > .title{
    min-height: 50px;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 47px;
    color: var(--color1);
    padding-left: 25px;
    margin-bottom: 25px;
}
.home .main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home .main > img{
    width: 40vw;
    max-width: 500px;
}
.home .content  > .learn-more > .arrow-icon{
    rotate: 90deg;
    margin-left: 15px;
} 
.home .content  > .learn-more{
    display: flex;
    cursor: pointer;
    justify-self: center;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    border: solid white 1px;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    background-color: rgba(53, 80, 200, 0.5);
    position: relative;
    margin: auto;
    max-width: fit-content;
    margin-top: 100px;
    transition: 0.1s;
}
.home .content > .learn-more:hover{
    background-color: rgba(53, 80, 200, 0.75);
}
@media (max-width: 750px){
    .home .main{
        flex-direction: column;
        justify-content: center;
    }
}