header{
    display: flex;
    justify-content: space-between;
    justify-self: center;
    width: 100vw;
    position: fixed;
    background-color: var(--color1);
    z-index: 2;
    transition: 0.2s;
}
header > nav{
    height: 60px;
    display: flex;
    align-items: center;
    align-self: center;
    color: white;
    margin: 0 25px;
}
header > nav > .link{
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    margin-right: 4vw;
    transition: 0.2s;
    opacity: 0.8;
}
header > nav > .link.img{
    border: solid 2px white;
    border-radius: 100%;
    opacity: 1;
    transition: 1.2s;
}
header > nav > .link:hover{
    opacity: 1;
}
header > nav > .link.active{
    font-weight: 900;
    opacity: 1;
    cursor: default;
}
header .link > img.headshot{
    height: 35px;
    aspect-ratio: 1;
    border-radius: 100%;
}
header > .contact-icons{
    display: flex;
    align-items: center;
}
header > .contact-icons > a{
    margin-right: 25px;
    padding: 0 2.5px;
    transition: 0.1s;
}
.contact-icons > a:hover{
    scale: 1.1;
}



header > .sm-headshot{
    height: 60px;
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0 25px;
}
header > .sm-headshot > img{
    transition: 1.2s;
}
header > .sm-options{
    height: 60px;
    display: flex;
    align-items: center;
    align-self: center;
    margin: 0 25px;
}
header > .sm-options > span{
    height: 60px;
    align-content: center;
}
header > .sm-options > .current-page{
    font-weight: 400;
    font-size: 1em;
    padding: 0 25px;
}
header > .sm-options span > svg:hover{
    scale: 1.05;
    cursor: pointer;
    transition: 0.2s;
}
.dropdown-menu{
    position: fixed;
    height: 100vh;
    width: 60%;
    right: 0;
    top: 0;
    z-index: 3; 
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dropdown-blur{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.dropdown-menu > nav{
    margin: 0 10px;
    margin-top: 10vh;
    justify-items: center;
    justify-self: center;
    width: 100%;
}
.dropdown-menu > nav > .break{
    height: 2px;
    margin: 2px;
    width: 100%;
}
.dropdown-menu > nav > .link{
    display: flex;
    height: 40px;
    justify-self: start;
    align-items: center;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    transition: 0.1s;
}
.dropdown-menu > nav > .link.active,
.dropdown-menu > nav > .link.active:hover{
    opacity: 1;
    cursor: default;
    font-weight: 900;
}
.dropdown-menu > nav > .link:hover{
    font-weight: 500;
    opacity: 1;
}
.dropdown-menu > nav > .link > svg{
    width: 25px;
    margin: 0 15px;
}
.dropdown-menu > .contact-icons{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    transition: 0.1s;
    overflow: hidden;
    margin-bottom: 10vh;
}